/*----------------------------------------------
Author : www.webthemez.com
License: Commons Attribution 3.0
http://creativecommons.org/licenses/by/3.0/
------------------------------------------------*/


/*----------------------------------------------
    COMMON  STYLES    
------------------------------------------------*/

body {
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
    width: 100%;
    background: #acb2b9;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background: #E5EBF2;
}

#page-inner {
    width: 100%;
    margin: 10px 20px 10px 0px;
    background-color: transparent;
    padding: 10px;
    min-height: 1200px;
}


/*----------------------------------------------
   DASHBOARD STYLES    
------------------------------------------------*/

.page-header {
    padding-bottom: 9px;
    margin: 10px 0 45px;
    border-bottom: 1px solid #C7D1DD;
}

.bg-color-green {
    background-color: #fff;
    color: #5cb85c;
}

.bg-color-blue {
    background-color: #fff;
    color: #4CB1CF
}

.bg-color-red {
    background-color: #fff;
    color: #F0433D;
}

.bg-color-brown {
    background-color: #fff;
    color: #f0ad4e;
}


/*----------------------------------------------
    MENU STYLES    
------------------------------------------------*/

.top-navbar {
    margin: 0px;
}

.top-navbar .navbar-brand {
    color: rgb(10, 10, 10);
    width: 260px;
    text-align: left;
    height: 60px;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 30px;
}

.top-navbar .nav>li {
    position: relative;
    display: inline-block;
}

.top-navbar .nav>li>a {
    position: relative;
    display: block;
    padding: 19px 15px;
    color: #77C0FD;
}

.top-navbar .nav>li>a:hover,
.top-navbar .nav>li>a:focus {
    text-decoration: none;
    background-color: #225081;
    color: #fff;
}

.top-navbar .dropdown-menu {
    min-width: 230px;
    border-radius: 0 0 4px 4px;
}

.top-navbar .dropdown-menu>li>a:hover,
.top-navbar .dropdown-menu>li>a:focus {
    color: #225081;
    background: none;
}

.dropdown-tasks {
    width: 255px;
}

.dropdown-tasks .progress {
    height: 8px;
    margin-bottom: 8px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 0px;
}

.dropdown-tasks>li>a {
    padding: 0px 15px;
}

.dropdown-tasks p {
    font-size: 13px;
    line-height: 21px;
    padding-top: 4px;
}

.active-menu {
    background-color: #225081!important;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active>a>.fa.arrow:before {
    content: "\f107";
}

.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 55px;
}

.sidebar-collapse,
.sidebar-collapse .nav {
    background: none;
}

.sidebar-collapse .nav {
    padding: 0;
}

.sidebar-collapse .nav>li>a {
    color: rgb(10, 10, 10);
    background: transparent;
    text-shadow: none;
}

.sidebar-collapse>.nav>li>a {
    padding: 15px 10px;
}

.sidebar-collapse>.nav>li {
    border-bottom: 1px solid rgba(107, 108, 109, 0.19);
}

ul.nav.nav-second-level.collapse.in {
    background: #172D44;
}

.sidebar-collapse .nav>li>a:hover,
.sidebar-collapse .nav>li>a:focus {
    outline: 0;
}

.navbar-side {
    border: none;
    background-color: transparent;
}

.top-navbar {
    background: #fbfcfd;
    border-bottom: none;
}

.top-navbar .nav>li>a>i {
    margin-right: 2px;
}

.top-navbar .navbar-brand:hover {
    color: #fff;
}

.dropdown-user li {
    margin: 8px 0;
}

.navbar-default {
    border: 0px solid rgb(0, 0, 0);
}

.navbar-header {
    background: #acb2b9;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #B40101;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.nav>li>a>i {
    margin-right: 10px;
}


/*----------------------------------------------
    MEDIA QUERIES     
------------------------------------------------*/

@media(min-width:768px) {
    #page-wrapper {
        margin: 0 0 0 260px;
        padding: 15px 30px;
        min-height: 1200px;
    }
    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 260px;
    }
    .navbar {
        border-radius: 0px;
    }
}

@media(max-width:480px) {
    .page-header small {
        display: block;
        padding-top: 14px;
        font-size: 19px;
    }
}